<!DOCTYPE html>
<html ng-app="myApp" ng-cloak>

<head>

  <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div ng-controller="newPlayerController" class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h2 class="text-center">Create A New Character</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <br />
        <br />
        <form class="form-horizontal" name="addPlayer" role="form" novalidate>
          
          <!-- NAME -->
          <div class="form-group" ng-class="{ 'has-error' : addPlayer.name.$invalid && !userForm.name.$pristine }">
            <label for="addCharacterName" class="col-xs-4 control-label">Character Name:</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="addCharacterName" ng-model="name" placeholder="Name" required />
            </div>
          </div>
          
          <!-- Age -->
          <div class="form-group" ng-class="{ 'has-error' : addPlayer.age.$invalid && !userForm.name.$pristine }">
            <label for="addCharacterAge" class="col-xs-4 control-label">Character Age:</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="addCharacterAge" ng-model="age" placeholder="Age" required/>
            </div>
          </div>
          
          <!-- Race -->
          <div class="form-group" ng-class="{ 'has-error' : addPlayer.race.$invalid && !userForm.name.$pristine }">
            <label for="addCharacterRace" class="col-xs-4 control-label">Character Race:</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="addCharacterRace" ng-model="race" placeholder="Race" required/>
            </div>
          </div>
          <br/>
          <br/>
          <div class="row">
            <div class="col-xs-10 col-xs-push-2" style="background-color: grey" >
              <h2 class="col-sm-6 col-xs-12" style="color: white">Avialable Skill Points: </h2>
              <h2 class="col-sm-6 col-xs-12 text-center" ng-model="points" style="color: yellow" ng-class="{ 'has-error' : addPlayer.points > 0}" required>{{points}}</h2>
            </div>
          </div>
          <br/>
          <br/>
          <div class="form-group">
            <label class="col-xs-4 control-label"> Character Stats:</label>
            <div class="col-xs-8">
              <table class="col-xs-8 table table-condensed text-center" id="statsTable">
                <thead>
                  <tr>
                    <th>Ability</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody id="stats">
                  <tr>
                    <td>Atk</td>
                    <td ng-model="atkValue">{{atkValue}}</td>
                    <td style="border: none">
                      <div class="btn btn-custom-success btn-sm btn-success pull-left" ng-click="updateAtk()">
                        <div class="glyphicon glyphicon-plus-sign"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Def</td>
                    <td ng-model="defValue">{{defValue}}</td>
                    <td style="border: none">
                      <div class="btn btn-custom-success btn-sm btn-success pull-left" ng-click="updateDef()">
                        <div class="glyphicon glyphicon-plus-sign"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Spcl</td>
                    <td ng-model="spclValue">{{spclValue}}</td>
                    <td style="border: none">
                      <div class="btn btn-custom-success btn-sm btn-success pull-left" ng-click="updateSpcl()">
                        <div class="glyphicon glyphicon-plus-sign"></div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="form-group">
            <label for="addCharacterDescription" class="col-xs-4 control-label">
              Character Description:</label>
            <div class="col-xs-8">
              <textarea class="form-control" name="addCharacterDescription" ng-model="desc" id="addCharacterDescription"></textarea>
            </div>
          </div>
        </form>
        <br />
        <br />
      </div>
    </div>
    <div class="row" style="padding-bottom: 100px">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="col-xs-4"></div>
        <div class="col-xs-8">
          <div class="col-xs-4">
            <a href="index.html"><button class="btn btn-custom-primary btn-info" id="addStaticPage">Cancel</button></a>
          </div>
          <div class="col-xs-4"></div>
          <div class="col-xs-4">
            <button class="btn btn-custom-primary btn-info" id="cancelStaticPage" ng-click="" ng-model="pointStatus" ng-disabled="(">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script data-require="angular.js.1.3@1.5.2" data-semver="1.5.2" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.js"></script>
  <script src="addPlayerApp.js"></script>
  <script data-require="jquery@*" data-semver="3.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
</body>

</html>